.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* Style pour les écrans de bureau */
.map-section {
  position: static;
  width: 100%;
  height: auto;
  order: 2; /* Placez la carte en dernier dans le flux */
}

/* Style pour les écrans mobiles */
@media (max-width: 767px) {
  .map-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; /* Ajustez la hauteur selon vos besoins */
    z-index: 1000; /* Assurez-vous que la carte soit au-dessus des autres éléments */
  }
}